<a href="https://colab.research.google.com/github/imammarzuki/pandas/blob/main/DataDuplikat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Membuat DataFrame
data = {
    'Place_Id': [101, 102, 103, 101, 104, 105, 103],
    'Name': ['Place A', 'Place B', 'Place C', 'Place A', 'Place D', 'Place E', 'Place C'],
    'Rating': [4.5, 4.0, 3.5, 4.5, 4.0, 3.5, 3.5]
}
df = pd.DataFrame(data)
print("DataFrame Awal:")
print(df)

DataFrame Awal:
   Place_Id     Name  Rating
0       101  Place A     4.5
1       102  Place B     4.0
2       103  Place C     3.5
3       101  Place A     4.5
4       104  Place D     4.0
5       105  Place E     3.5
6       103  Place C     3.5

In [ ]:
# Mendeteksi dan menampilkan duplikat
duplicates = df.duplicated()
print("\nDuplikat dalam DataFrame:")
print(duplicates)
print("\nBaris Duplikat:")
print(df[duplicates])

Duplikat dalam DataFrame:
0    False
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

Baris Duplikat:
   Place_Id     Name  Rating
3       101  Place A     4.5
6       103  Place C     3.5

In [ ]:
# Menghapus duplikat
df_cleaned = df.drop_duplicates()
print("\nDataFrame setelah menghapus duplikat:")
print(df_cleaned)

DataFrame setelah menghapus duplikat:
   Place_Id     Name  Rating
0       101  Place A     4.5
1       102  Place B     4.0
2       103  Place C     3.5
4       104  Place D     4.0
5       105  Place E     3.5

In [ ]:
# Duplikat berdasarkan 'Place_Id'
duplicate_place_ids = df.duplicated(subset=['Place_Id'])
print("\nDuplikat berdasarkan 'Place_Id':")
print(duplicate_place_ids)
df_cleaned_by_place_id = df.drop_duplicates(subset=['Place_Id'])
print("\nDataFrame setelah menghapus duplikat berdasarkan 'Place_Id':")
print(df_cleaned_by_place_id)

Duplikat berdasarkan 'Place_Id':
0    False
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

DataFrame setelah menghapus duplikat berdasarkan 'Place_Id':
   Place_Id     Name  Rating
0       101  Place A     4.5
1       102  Place B     4.0
2       103  Place C     3.5
4       104  Place D     4.0
5       105  Place E     3.5